@charset "UTF-8";

/* ******( CSS Introduction )************************************************ */

/*
    This file contains all of the CSS needed to style the sample application
    that is part of the Takeaway Homework Assignment.

    In a production environment the files imported from here would most likely
    be concattenated together (and/or minified).

    The custom CSS has been split into three separate parts:

     - Layout - The size, location and positioning of elements on the page
     - Design - The color, style and look of elements on the page
     - Modules - A combination of Layout and Design for sub-element

    The main reason for this separation is that is makes it trivial to change
    the "theme" of a page without having to think about layout and positioning
    and vice-versa. In a production code-base the modules would most likely be
    split across several separate files but for this sassignment that felt like
    overkill.
*/

/* =======( Imports )======================================================== */
@import "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700";
@import "https://pother.ca/CssBase/css/created-by-potherca.css";
@import url("layout.css");
@import url("design.css");

/* =======( Custom Properties )============================================== */
html {
  --color-action: #50aecc;               /* Light blue */
  --color-background-dark: #a4a3a3;      /* Gray brown */
  --color-background-light: #fff;        /* White */
  --color-background: #f9f5f1;           /* Very light brown */
  --color-brand: #ff8000;                /* Orange */
  --color-dark-clear: rgba(0, 0, 0, 0.75);  /* gba(76,76,76,.25 */
  --color-dark: #261e1e;                 /* Very dark brown */
  --color-text-light: #fff;              /* White */
  --color-text: #333;                 /* Dark gray */
  --font-main: 'Open Sans';
}

/* ******( EOF )************************************************************* */
