/* ******( CSS Index )******************************************************* */

/*
    1. General Declarations

    2. Page Header
        2.1. Page Header Branding

    3. Main Content

        3.1. Restaurants Filters

        3.2. Restaurants List
          3.2.1 Sort Options

    4. Page Footer

    5. Loading Spinner
*/

/* ******( CSS Introduction )************************************************ */

/*
    Design consist of the CSS properties that have to do with the visual styling
    of elements and typography.
*/

/* ======( General Declarations )============================================ */
html {
  background-color: var(--color-background);
  font-family: var(--font-main), sans-serif;
  color: var(--color-text);
}

/* ======( Page Header )===================================================== */
.page-header {
  background-color: var(--color-dark-clear);
}

/* -------( Page Header Branding )------------------------------------------- */
.brand {
  background-color: var(--color-brand);
  border-bottom-right-radius: 0.35rem;
  box-shadow: 0.1em 0.1em 0.1em;
}

.brand__name {
  color: white;
  font-weight: bold;
}

/* ======( Main Content )==================================================== */

/* -------( Restaurants Filters )-------------------------------------------- */
.restaurant-filters .panel {
  background-color: var(--color-background-light);
}

/* -------( Restaurants Filter )-------------------------------------------- */

/* .......( Restaurants Filter Tabs )....................................... */
.restaurant-filters__tab {
    border-left-color: var(--color-background-dark);
}

/* .......( Sort Options )................................................... */
.sort-option__value--is-active {
  background-color: var(--color-brand) !important;
  color: var(--color-text-light) !important;
}

/* ======( Page Footer )===================================================== */
.page-footer {
  background-color: var(--color-brand);
  color: var(--color-text-light);
}

/* ======( Loading Spinner )===================================================== */
.loading-spinner {
  background: var(--color-dark);
  border-radius: 100%;
  opacity: 0.5;
}

/* ******( EOF )************************************************************* */
