/********( CSS Index )*********************************************************/
/*
    1. General Declarations

    2. Page Header

        2.1. Page Header Branding

    3. Main Content

        3.1. Restaurants Filter

        3.2. Restaurants List

        3.2.1. Restaurants List Item

*/

/********( CSS Introduction )**************************************************/
/*
    Layout consist of the CSS properties that have to do with the display, flow,
    positioning, and dimensions of elements. This includes margins and padding.

        Everything else does not belong here.

    Semantically, one could argue that giving something a border is a matter of
    design. Because borders do influence an elements size, border-width does
    belong here. However, border-color and border-style do not belong here.
    Instead, border style and colour should be declared in the design related
    CSS files.

    This does mean using the shorthand property for border is impossible.
*/


/*=======( General Declarations )=============================================*/
html,body {
    height: 100%;
}

/*=======( Page Header )======================================================*/

/* -------( Page Header Branding )--------------------------------------------*/
.brand {
    border-bottom-right-radius: 0.35rem;
    box-shadow: 0.1em 0.1em 0.1em;
    height: 3rem;
    width: auto;
}

.brand__logo {
    height: 100%;
    margin-left: 1rem;
    padding: 0;
    width: 3rem;
}

.brand__name {
    padding-left: 0;
}

/*=======( Main Content )=====================================================*/
.restaurants-container {
    margin-bottom: 3rem;
}

/* -------( Restaurants Filter )---------------------------------------------*/
.restaurants-filter {
}

/* -------( Restaurants List )------------------------------------------------*/

/* .......( Restaurants List Item )...........................................*/
.restaurant-list__item {
    display: inline-block;
    margin: 0 2rem 3rem;
    min-width: 20rem;
    width: 40%;
}

.favorite-button {
    height: 100%;
}

/********( EOF )***************************************************************/
